<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <Properties>
    </Properties>
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d{MMdd HH:mm:ss.SSS}{GMT+0} [%t] #%level{length=1} %logger{3.} - %msg%xEx%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="io.github.lapins2023" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</configuration>